Dataset/
runs/
Test Image/
venv/
media/
Frontend-react/
*.env
mainserver/.env
TrainedModel/
TrainedModelv2/

mainserver/Detection_Results/

TrainedModelv3/MY8mE20_v1.pt

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
migrations/
